%h1 Import aus dbPedia:
=form_for(Person.new,:url => importfromdbpedia_home_index_path) do |f|
  .field
    =f.label :firstname
    %br
    =f.text_field :firstname
    %br
  .field
    =f.label :lastname
    %br
    =f.text_field :lastname
    %br
  =f.submit "Personen aus DBPedia importieren"
  %br
  %br
%h1 Import aus Facebook:
=form_for(Person.new,:url => importfromfacebook_home_index_path) do |f|
  .field
    =f.label :facebook_id
    %br
    =f.text_field :facebook_id, :value => "630819600"
    %br
  =f.submit "Person mit Verwandten importieren"
  %br
  %br
%h1 Export zu Sesame:
=form_for(Person.new,:url => exporttosesame_home_index_path, :method => "GET") do |f|
  %br
  =f.submit "Exportieren"