// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$lightgreen: #7CFF5E;
$basegreen: #2AB20A;
$baseviolet: #B2068B;
$lightviolet: #FF5EDA;
$gwhite: #C1FFAB;

div.list {
 width: 1000px;
 float: left; 
}

div.teaser {
  width: 492px;
  float: left;
  margin: 1px;
  .name {
    background-color: black;
    color: white;
    padding-left: 3px;
    padding-bottom: 2px;
    .top {
      float: right;
      text-align: right;
      a {
        padding: 4px 6px 3px 3px;
        font-size: 10px;
        color: #AAA;
        &:hover {
          color: #fff;
          background-color: #B2068B;
        }
      }
    }
  }
  .content {
    background-color: $gwhite;
    height: 140px;
    padding: 3px;
    .left {
      width: 100px;
      height: 140px;
      float: left;
    }
    .right {
      width: 385px;
      float: left;
      span {
        display: block;
        padding: 0 0 5px 5px;
      }
    }
    
  }
}

div.create {
  width: 170px;
  text-align: left;
  margin-left: 1px;
  float: left;
}

div.pagination {
  width: 50%;
  text-align: right;
  margin-right: 13px;
  float: right;
  em.current {
    color: white;
    background-color: #B2068B;
    padding: 4px 6px 3px 3px;
  }
}

div.show {
  width: 1000px;
  float: left;
  margin-left: 1px;
  //background-color: $gwhite;
  div.img {
    width: 170px;
    height: 252px;
    padding: 3px;
    float: left;
    background-color: $gwhite;
    img {
      max-width: 170px;
      max-height: 252px;
    }
  }
  div {
    width: 824px;
    float: left;
    //background-color: white;
    .block {
      margin-bottom: 3px;
      .dt {
        width: 80px;
        padding: 2px 0 3px 5px;
        background-color: black;
        color: white;
      }
      .dd {
        width: 700px;
        float: left;
        padding: 2px 0 3px 5px;
      }
    }
  }
}

.relations {
  h1 {
    margin-left: 0px;
  }
  width: 100%;
  clear: both;
  .block {
      margin-bottom: 3px;
      .dt {
        width: 80px;
        padding: 2px 0 3px 5px;
        background-color: black;
        color: white;
      }
      .dd {
        width: 700px;
        float: left;
        padding: 2px 0 3px 5px;
      }
  }
}

div.form {
  width: 1000px;
  float: left;
  margin-left: 1px;
  .left {
    width: 500px;
    float: left;
  }
  .right {
    width: 500px;
    float: right;
  }
}
